.news__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: -5px;
	margin-bottom: -5px;
}

.news__box {
	display: flex;
	flex-direction: column;
	width: calc(33.3% - 10px);
	padding: 20px 16px 15px;
	background-color: $news-box-color;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	border-radius: 15px;
	transition: all 0.4s linear;
	position: relative;
	overflow: hidden;
	&:hover {
		@include hovering-effect;
	}
}

.channel--link {
	color: $source-color;
	z-index: 90;
	transition: all 0.4s linear;
	&:hover {
		color: $source-color-hover;
	}
}

.box__open--link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.news__title {
	display: flex;
	width: 338px;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: $news-title-color;
	margin: 0;
	margin-bottom: 10px;
}

.news__text {
	font-size: 16px;
	line-height: 22px;
	color: $news-text-color;
	width: 346px;
	margin: 0;
	margin-bottom: 15px;
}

.image__holder {
	display: flex;
	margin-bottom: 15px;
	border-radius: 10px;
	overflow: hidden;
}

.news__image {
	width: 360px;
	height: 165px;
	object-fit: cover;
	object-position: auto;
}

.time {
	margin-left: 3px;
}

.news__source {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;

	&-1::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-image: url(./../images/german_icon.png);
		background-repeat: no-repeat;
		background-position: auto;
		border-radius: 5px;
	}
	&-2::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-image: url(./../images/corn_icon.png);
		background-repeat: no-repeat;
		background-position: auto;
		border-radius: 5px;
	}
	&-3::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-image: url(./../images/baidu_icon.png);
		background-repeat: no-repeat;
		background-position: auto;
		border-radius: 5px;
	}
	&-4::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-image: url(./../images/iphone_icon.png);
		background-repeat: no-repeat;
		background-position: auto;
		border-radius: 5px;
	}
	&-5::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-image: url(./../images/corona_icon.png);
		background-repeat: no-repeat;
		background-position: auto;
		border-radius: 5px;
	}
	&-6::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background-image: url(./../images/jac_icon.png);
		background-repeat: no-repeat;
		background-position: auto;
		border-radius: 5px;
	}
}
